.App{
    width: 100vw;
    height: 100vh;
    background-color:rgb(28,30,31);
    padding-top: 80px;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.element{
    width: 80vw;
    /* height: 250px; */
    background-color: rgb(24,26,27);
    border-radius: 10px;
    margin-left: 50px;
    margin-bottom: 20px;
    position: relative;
    align-self: center;
}
